@{
    ViewBag.Title = "Về chúng tôi";
}
<div id="sunfw_section_section_main_body"
     class="sunfw-section sunfw_section_section_main_body visible-lg visible-md visible-sm visible-xs">
    <div class="container">
        <div id="row_row-1" class="row sunfw-flex-component">
            <div id="column_column-1" class="col-xs-36 col-sm-12 col-md-12 col-lg-12  flex-md-unordered">
                <div class="layout-item sunfw-item-page-content">
                    <div id="system-message-container">
                    </div>

                    <div class="item-page" itemscope itemtype="https://schema.org/Article">
                        <meta itemprop="inLanguage" content="en-GB" />
                        <div class="articleBody" itemprop="articleBody">
                            <style>
                                /* PageFly Element Styles */
                                .kqDkLo {
                                    word-break: break-word;
                                }

                                    .kqDkLo span {
                                        font-weight: inherit;
                                        text-decoration: inherit;
                                    }

                                    .kqDkLo i {
                                        margin-right: 0.3em;
                                    }

                                .dnZKXh {
                                    font-family: FontAwesome !important;
                                }

                                .dLAucL {
                                    position: relative;
                                    overflow: hidden;
                                    display: inline-flex;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    max-width: 100%;
                                    vertical-align: middle;
                                }

                                    .dLAucL img {
                                        display: inline-block;
                                        object-fit: cover;
                                        max-width: 100%;
                                        max-height: 100%;
                                        height: auto;
                                        text-align: center;
                                        width: 100%;
                                        vertical-align: middle;
                                        position: unset;
                                    }

                                .fcqzIr {
                                    position: relative;
                                }

                                .gsdIuB {
                                    padding: var(--pf-s-lg);
                                }

                                @@media (max-width: 1199px) and (min-width: 992px) {
                                    .gsdIuB {
                                        padding: var(--pf-s-md);
                                    }
                                }

                                @@media (max-width: 991px) and (min-width: 768px) {
                                    .gsdIuB {
                                        padding: var(--pf-s-sm);
                                    }
                                }

                                @@media (max-width: 767px) {
                                    .gsdIuB {
                                        padding: var(--pf-s-xs);
                                    }
                                }

                                .iDckyw {
                                    position: relative;
                                }

                                .jdLQbH {
                                    margin: 0 calc(-1 * var(--pf-s-lg));
                                }

                                @@media (max-width: 1199px) and (min-width: 992px) {
                                    .jdLQbH {
                                        margin: 0 calc(-1 * var(--pf-s-md));
                                    }
                                }

                                @@media (max-width: 991px) and (min-width: 768px) {
                                    .jdLQbH {
                                        margin: 0 calc(-1 * var(--pf-s-sm));
                                    }
                                }

                                @@media (max-width: 767px) {
                                    .jdLQbH {
                                        margin: 0 calc(-1 * var(--pf-s-xs));
                                    }
                                }

                                .mZVAk {
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    pointer-events: none;
                                    overflow: hidden;
                                }

                                .cBuwhn__parallax {
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    overflow: hidden;
                                    pointer-events: none;
                                }

                                .cBuwhn {
                                    padding: 15px 0px;
                                    position: relative;
                                }

                                .kzftmY > span:last-child {
                                    line-height: inherit;
                                    display: block;
                                    margin-right: 0px !important;
                                }

                                #editor-dnd-wrapper .kzftmY span + span[contenteditable] {
                                    display: block;
                                }

                                    #editor-dnd-wrapper .kzftmY span + span[contenteditable]:empty::after {
                                        display: inline;
                                    }

                                .kzftmY ol,
                                .kzftmY ul {
                                    list-style-position: inside;
                                }

                                .kzftmY blockquote {
                                    font-size: inherit;
                                }

                                .aevsi {
                                    display: inline-block;
                                }

                                    .aevsi[contenteditable="true"] {
                                        user-select: text;
                                    }

                                .aevsi {
                                    vertical-align: baseline;
                                    word-break: break-word;
                                }

                                    .aevsi:focus {
                                        outline: none;
                                    }

                                    .aevsi::after {
                                        display: inline;
                                    }

                                /* PageFly Styles */

                                @@media all {
                                    .__pf .pf-5965658d-dd8133d8 {
                                        color: rgb(255, 255, 255);
                                        font-family: Montserrat;
                                        font-size: 36px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        text-align: center;
                                        margin-top: 13px;
                                        padding-bottom: 7px;
                                        margin-bottom: 10px;
                                    }

                                    .__pf .pf-5965658d-91ea2401 {
                                        padding: 130px 0px;
                                        background-image: url("https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/about%20page.jpg");
                                    }

                                    .__pf .pf-5965658d-1a934c2f {
                                        text-transform: uppercase;
                                        font-family: Montserrat;
                                        font-size: 20px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-top: -2px;
                                    }

                                    .__pf .pf-5965658d-46109535 {
                                        font-family: Roboto;
                                        font-size: 14px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.57;
                                        letter-spacing: normal;
                                        color: rgb(102, 102, 102);
                                    }

                                    .__pf .pf-5965658d-bf9a6670 {
                                        margin-top: 55px;
                                    }

                                    .__pf .pf-5965658d-2b6bead8 {
                                        font-family: Montserrat;
                                        font-size: 20px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        text-align: center;
                                        margin-top: 35px;
                                        margin-bottom: 3px;
                                    }

                                    .__pf .pf-5965658d-885510a2 {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 500;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(102, 102, 102);
                                        text-align: center;
                                        margin-bottom: -5px;
                                    }

                                    .__pf .pf-5965658d-ead863ec {
                                        text-align: center;
                                    }

                                    .__pf .pf-5965658d-70d0fa58 {
                                        width: 100%;
                                        height: auto;
                                    }

                                    .__pf .pf-5965658d-f15a70d0 {
                                        overflow: hidden;
                                    }

                                    .__pf .pf-5965658d-0a4ed2c5 {
                                        margin-top: 19px;
                                        font-family: Montserrat;
                                        font-size: 18px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 0px;
                                        padding-left: 20px;
                                    }

                                    .__pf .pf-5965658d-d2c5b8d0 {
                                        font-size: 14px;
                                        font-family: Montserrat;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        text-transform: uppercase;
                                        margin-top: 5px;
                                        margin-bottom: 15px;
                                        padding-left: 20px;
                                    }

                                    .__pf .pf-5965658d-2e9db5d8 {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-b5d8f749 {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-f74959e3 {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-59e3e1bd {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-b8fcb2ff {
                                        padding-bottom: 30px;
                                    }

                                    .__pf .pf-5965658d-25962ed3 {
                                        text-align: left;
                                        background-color: rgb(255, 211, 105);
                                        max-width: 450px;
                                        overflow: hidden;
                                    }

                                    .__pf .pf-5965658d-621f9c0c {
                                        width: 100%;
                                        height: auto;
                                    }

                                    .__pf .pf-5965658d-fa58621f {
                                        overflow: hidden;
                                    }

                                    .__pf .pf-5965658d-192d96b9 {
                                        margin-top: 19px;
                                        font-family: Montserrat;
                                        font-size: 18px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 0px;
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-96b910cd {
                                        font-size: 14px;
                                        font-family: Montserrat;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        text-transform: uppercase;
                                        margin-top: 5px;
                                        margin-bottom: 15px;
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-89016a75 {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-6a756a8f {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-6a8f2eb4 {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-2eb4192d {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-10cd6b0b {
                                        padding-bottom: 30px;
                                    }

                                    .__pf .pf-5965658d-6b0bc0b0 {
                                        text-align: left;
                                        background-color: rgb(255, 211, 105);
                                        max-width: 450px;
                                    }

                                    .__pf .pf-5965658d-c0b03e7b {
                                        overflow: hidden;
                                    }

                                    .__pf .pf-5965658d-ca3e1a0e {
                                        width: 100%;
                                        height: auto;
                                    }

                                    .__pf .pf-5965658d-9c0cec23 {
                                        overflow: hidden;
                                    }

                                    .__pf .pf-5965658d-b4e89aa6 {
                                        margin-top: 19px;
                                        font-family: Montserrat;
                                        font-size: 18px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 0px;
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-9aa631fb {
                                        font-size: 14px;
                                        font-family: Montserrat;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        text-transform: uppercase;
                                        margin-top: 5px;
                                        margin-bottom: 15px;
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-e013b0ff {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-b0ff10ef {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-10eff8ff {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-f8ffb4e8 {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-31fbad94 {
                                        padding-bottom: 30px;
                                    }

                                    .__pf .pf-5965658d-ad94d0d6 {
                                        text-align: left;
                                        background-color: rgb(255, 211, 105);
                                        max-width: 450px;
                                        overflow: hidden;
                                    }

                                    .__pf .pf-5965658d-1a0e0f67 {
                                        width: 100%;
                                        height: auto;
                                    }

                                    .__pf .pf-5965658d-ec23ca3e {
                                        overflow: hidden;
                                    }

                                    .__pf .pf-5965658d-f137294f {
                                        margin-top: 19px;
                                        font-family: Montserrat;
                                        font-size: 18px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 0px;
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-294ffc4c {
                                        font-size: 14px;
                                        font-family: Montserrat;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        text-transform: uppercase;
                                        margin-top: 5px;
                                        margin-bottom: 15px;
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-771f7c0e {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                        margin-left: 20px;
                                    }

                                    .__pf .pf-5965658d-7c0e63c4 {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-63c44cd6 {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-4cd6f137 {
                                        margin-right: 15px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-fc4ce14b {
                                        padding-bottom: 30px;
                                    }

                                    .__pf .pf-5965658d-e14b93ee {
                                        text-align: left;
                                        background-color: rgb(255, 211, 105);
                                        max-width: 450px;
                                        overflow: hidden;
                                    }

                                    .__pf .pf-5965658d-bd94332c {
                                        padding-top: 5px;
                                    }

                                    .__pf .pf-5965658d-72eff23f {
                                        font-family: Montserrat;
                                        font-size: 20px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        text-align: center;
                                        margin-bottom: 5px;
                                        margin-top: 40px;
                                    }

                                    .__pf .pf-5965658d-f23f7629 {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 500;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(102, 102, 102);
                                        text-align: center;
                                    }

                                    .__pf .pf-5965658d-7629a9b4 {
                                        text-align: center;
                                    }

                                    .__pf .pf-5965658d-c79f8899 {
                                        padding-bottom: 0px;
                                        padding-top: 0px;
                                    }

                                    .__pf .pf-5965658d-dbfb8f19 {
                                        font-size: 2em;
                                        padding: 30px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-b45bbf29 {
                                        color: rgb(38, 63, 68);
                                        font-family: Montserrat;
                                        font-size: 20px;
                                        font-weight: bold;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        margin-bottom: 0px;
                                        margin-top: 0px;
                                    }

                                    .__pf .pf-5965658d-bf29f2fb {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 0px;
                                    }

                                    .__pf .pf-5965658d-ce21752c {
                                        margin-top: 20px;
                                    }

                                    .__pf .pf-5965658d-648c546f {
                                        display: flex;
                                        border: 1px solid rgb(213, 213, 213);
                                        background-color: rgb(255, 255, 255);
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                        margin-right: 15px;
                                    }

                                    .__pf .pf-5965658d-7c43f990 {
                                        font-size: 2em;
                                        padding: 30px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-f2fb3746 {
                                        color: rgb(38, 63, 68);
                                        font-family: Montserrat;
                                        font-size: 20px;
                                        font-weight: bold;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        margin-bottom: 0px;
                                        margin-top: 0px;
                                    }

                                    .__pf .pf-5965658d-37466dcb {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 0px;
                                    }

                                    .__pf .pf-5965658d-752c7a80 {
                                        margin-top: 20px;
                                    }

                                    .__pf .pf-5965658d-546f8cbf {
                                        display: flex;
                                        border: 1px solid rgb(213, 213, 213);
                                        background-color: rgb(255, 255, 255);
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                        margin-left: 15px;
                                        margin-right: 15px;
                                    }

                                    .__pf .pf-5965658d-421c9c47 {
                                        font-size: 2em;
                                        padding: 30px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-6dcb026b {
                                        color: rgb(38, 63, 68);
                                        font-family: Montserrat;
                                        font-size: 20px;
                                        font-weight: bold;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        margin-bottom: 0px;
                                        margin-top: 0px;
                                    }

                                    .__pf .pf-5965658d-026b808d {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 0px;
                                    }

                                    .__pf .pf-5965658d-7a8038fd {
                                        margin-top: 20px;
                                    }

                                    .__pf .pf-5965658d-8cbff6bb {
                                        display: flex;
                                        border: 1px solid rgb(213, 213, 213);
                                        background-color: rgb(255, 255, 255);
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                        margin-left: 15px;
                                        margin-right: 15px;
                                    }

                                    .__pf .pf-5965658d-fb532abe {
                                        font-size: 2em;
                                        padding: 30px;
                                        color: rgb(38, 63, 68);
                                    }

                                    .__pf .pf-5965658d-808d614a {
                                        color: rgb(38, 63, 68);
                                        font-family: Montserrat;
                                        font-size: 20px;
                                        font-weight: bold;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        margin-bottom: 0px;
                                        margin-top: 0px;
                                    }

                                    .__pf .pf-5965658d-614ace21 {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 0px;
                                    }

                                    .__pf .pf-5965658d-38fd648c {
                                        margin-top: 20px;
                                    }

                                    .__pf .pf-5965658d-f6bb0231 {
                                        display: flex;
                                        border: 1px solid rgb(213, 213, 213);
                                        background-color: rgb(255, 255, 255);
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                        margin-left: 15px;
                                    }

                                    .__pf .pf-5965658d-a470ac98 {
                                        margin-top: -5px;
                                    }

                                    .__pf .pf-5965658d-ac98a23f {
                                        padding-top: 0px;
                                        padding-bottom: 0px;
                                        margin-top: 15px;
                                    }
                                }

                                @@media only screen and (max-width: 767px) {
                                    .__pf .pf-5965658d-91ea2401 {
                                        background-image: url("https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/about%20page.jpg");
                                    }

                                    .__pf .pf-5965658d-648c546f {
                                        margin-left: 15px;
                                    }

                                    .__pf .pf-5965658d-f6bb0231 {
                                        margin-right: 15px;
                                    }
                                }

                                @@media only screen and (min-width: 992px) and (max-width: 1199px) {
                                    .__pf .pf-5965658d-91ea2401 {
                                        background-image: url("https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/about%20page.jpg");
                                    }

                                    .__pf .pf-5965658d-546f8cbf {
                                        margin-right: 0px;
                                    }

                                    .__pf .pf-5965658d-8cbff6bb {
                                        margin-left: 0px;
                                    }

                                    .__pf .pf-5965658d-a470ac98 {
                                        margin-left: 0px;
                                        margin-right: 0px;
                                    }
                                }

                                @@media only screen and (min-width: 768px) and (max-width: 991px) {
                                    .__pf .pf-5965658d-91ea2401 {
                                        background-image: url("https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/about%20page.jpg");
                                    }

                                    .__pf .pf-5965658d-13a2bd94 {
                                        margin-left: 0px;
                                        margin-right: 0px;
                                    }

                                    .__pf .pf-5965658d-648c546f {
                                        margin-left: 15px;
                                    }

                                    .__pf .pf-5965658d-f6bb0231 {
                                        margin-right: 15px;
                                    }
                                }
                            </style>
                            <div class="__pf" id="__pf">
                                <div data-pf-type="Body" class="sc-oVpqz gmldoY pf-5965658d-41861781">
                                    <div data-pf-type="Layout" class="pf-5965658d-86178187">
                                        <div data-container="false" class="sc-pZdvY cBuwhn pf-5965658d-91ea2401"
                                             data-pf-type="Section">
                                            <div class="sc-pJipy mZVAk"
                                                 style="background-color: rgba(51, 51, 51, 0.8);"></div>
                                            <div class="sc-pRgDJ fzXWJx">
                                                <div class="sc-qQxFs jdLQbH pf-5965658d-38f7296b pf-r pf-r-eh"
                                                     data-pf-type="Row"
                                                     style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-33d838f7"
                                                             data-pf-type="Column">
                                                            <h3 data-pf-type="Heading"
                                                                class="sc-pjTqr kqDkLo pf-5965658d-dd8133d8">
                                                                <span data-pf-type="Text"
                                                                      class="sc-qPwwY aevsi pf-5965658d-eccadd81">
                                                                    About
                                                                    Us
                                                                </span>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-container="false" class="sc-pZdvY cBuwhn pf-5965658d-667097af"
                                             data-pf-type="Section">
                                            <div class="sc-pRgDJ fzXWJx">
                                                <div class="sc-qQxFs jdLQbH pf-5965658d-bf9a6670 pf-r pf-r-eh"
                                                     data-pf-type="Row"
                                                     style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-3970f869"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-be73a280">
                                                                <h3 data-pf-type="Heading"
                                                                    class="sc-pjTqr kqDkLo pf-5965658d-1a934c2f">
                                                                    <span data-pf-type="Text"
                                                                          class="sc-qPwwY aevsi pf-5965658d-8c911a93">
                                                                        About
                                                                        us
                                                                    </span>
                                                                </h3>
                                                                <p data-pf-type="Paragraph2"
                                                                   class="sc-psedN kzftmY pf-5965658d-46109535">
                                                                    <span data-pf-type="Text"
                                                                          class="sc-qPwwY aevsi pf-5965658d-b7204610">
                                                                        We
                                                                        always offer the top amazing books with
                                                                        the best buying experience for
                                                                        customers.&nbsp; It includes the
                                                                        leading-quality customer service,
                                                                        mobile-friendly layout for our website
                                                                        or free shipping and consistently
                                                                        affordable pricing for our books. To
                                                                        able to do that, we have built a team
                                                                        with dynamic and professional people
                                                                        from different backgrounds. Each member
                                                                        from our team understand our mission
                                                                        &amp; vision and we try to bring the
                                                                        highest quality of product and service
                                                                        to customers around the world. With us,
                                                                        each interaction with single customer is
                                                                        highly personalized and unique.
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-f869bf9a"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-1c4dd83c">
                                                                <picture data-pf-type="Image"
                                                                         class="sc-qYhTA dLAucL pf-5965658d-d83c28ee">
                                                                    <source media="(min-width: 1200px)"
                                                                            srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/about-page.jpg">
                                                                    <source media="(min-width: 992px) and (max-width: 1199px)"
                                                                            srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/about-page.jpg">
                                                                    <source media="(min-width: 768px) and (max-width: 991px)"
                                                                            srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/about-page.jpg">
                                                                    <source media="(max-width: 767px)"
                                                                            srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/about-page.jpg">
                                                                    <img src="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/about-page.jpg">
                                                                </picture>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-container="false" class="sc-pZdvY cBuwhn pf-5965658d-bd94332c"
                                             data-pf-type="Section">
                                            <div class="sc-pRgDJ fzXWJx">
                                                <div class="sc-qQxFs jdLQbH pf-5965658d-63ec8a98 pf-r pf-r-eh"
                                                     data-pf-type="Row"
                                                     style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-ead863ec"
                                                             data-pf-type="Column">
                                                            <h3 data-pf-type="Heading"
                                                                class="sc-pjTqr kqDkLo pf-5965658d-2b6bead8">
                                                                <span data-pf-type="Text"
                                                                      class="sc-qPwwY aevsi pf-5965658d-1d312b6b">
                                                                    MEET
                                                                    OUR TEAM
                                                                </span>
                                                            </h3>
                                                            <p data-pf-type="Paragraph2"
                                                               class="sc-psedN kzftmY pf-5965658d-885510a2">
                                                                <span data-pf-type="Text"
                                                                      class="sc-qPwwY aevsi pf-5965658d-01e58855">
                                                                    People
                                                                    behind our BookStore
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc-qQxFs jdLQbH pf-5965658d-13a2bd94 pf-r pf-r-eh"
                                                     data-pf-type="Row"
                                                     style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-b157c891"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-25962ed3">
                                                                <div data-pf-type="Block"
                                                                     class="sc-oTmHo fcqzIr pf-5965658d-b8fcb2ff">
                                                                    <div data-pf-type="Block"
                                                                         class="sc-oTmHo fcqzIr pf-5965658d-f15a70d0">
                                                                        <picture data-pf-type="Image"
                                                                                 class="sc-qYhTA dLAucL pf-5965658d-70d0fa58 animate-grow animate-grow">
                                                                            <source media="(min-width: 1200px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page.jpg">
                                                                            <source media="(min-width: 992px) and (max-width: 1199px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page.jpg">
                                                                            <source media="(min-width: 768px) and (max-width: 991px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page.jpg">
                                                                            <source media="(max-width: 767px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page.jpg">
                                                                            <img src="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page.jpg">
                                                                        </picture>
                                                                    </div>
                                                                    <h3 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-0a4ed2c5">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-0bf2ae8e">
                                                                            Jonathan
                                                                            Martin
                                                                        </span>
                                                                    </h3>
                                                                    <h4 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-d2c5b8d0">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-6d872e9d">CEO</span>
                                                                    </h4><i class="sc-qQlgh dnZKXh pf-5965658d-2e9db5d8 fa fa-facebook"
                                                                            data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-b5d8f749 fa fa-twitter"
                                                                                                       data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-f74959e3 fa fa-instagram"
                                                                                                                                  data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-59e3e1bd fa fa-skype"
                                                                                                                                                             data-pf-type="Icon"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-c0b03e7b"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-6b0bc0b0">
                                                                <div data-pf-type="Block"
                                                                     class="sc-oTmHo fcqzIr pf-5965658d-10cd6b0b">
                                                                    <div data-pf-type="Block"
                                                                         class="sc-oTmHo fcqzIr pf-5965658d-fa58621f">
                                                                        <picture data-pf-type="Image"
                                                                                 class="sc-qYhTA dLAucL pf-5965658d-621f9c0c animate-grow animate-grow">
                                                                            <source media="(min-width: 1200px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%201.jpg">
                                                                            <source media="(min-width: 992px) and (max-width: 1199px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%201.jpg">
                                                                            <source media="(min-width: 768px) and (max-width: 991px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%201.jpg">
                                                                            <source media="(max-width: 767px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%201.jpg">
                                                                            <img src="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%201.jpg">
                                                                        </picture>
                                                                    </div>
                                                                    <h3 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-192d96b9">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-9fa615c3">
                                                                            Anna
                                                                            Esmintrude
                                                                        </span>
                                                                    </h3>
                                                                    <h4 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-96b910cd">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-09308901">design</span>
                                                                    </h4><i class="sc-qQlgh dnZKXh pf-5965658d-89016a75 fa fa-facebook"
                                                                            data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-6a756a8f fa fa-twitter"
                                                                                                       data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-6a8f2eb4 fa fa-instagram"
                                                                                                                                  data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-2eb4192d fa fa-skype"
                                                                                                                                                             data-pf-type="Icon"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-d0d67509"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-ad94d0d6">
                                                                <div data-pf-type="Block"
                                                                     class="sc-oTmHo fcqzIr pf-5965658d-31fbad94">
                                                                    <div data-pf-type="Block"
                                                                         class="sc-oTmHo fcqzIr pf-5965658d-9c0cec23">
                                                                        <picture data-pf-type="Image"
                                                                                 class="sc-qYhTA dLAucL pf-5965658d-ca3e1a0e animate-grow animate-grow">
                                                                            <source media="(min-width: 1200px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%202.jpg">
                                                                            <source media="(min-width: 992px) and (max-width: 1199px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%202.jpg">
                                                                            <source media="(min-width: 768px) and (max-width: 991px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%202.jpg">
                                                                            <source media="(max-width: 767px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%202.jpg">
                                                                            <img src="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%202.jpg">
                                                                        </picture>
                                                                    </div>
                                                                    <h3 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-b4e89aa6">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-b16d8cab">
                                                                            John
                                                                            Philomena
                                                                        </span>
                                                                    </h3>
                                                                    <h4 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-9aa631fb">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-a9fbe013">CTO</span>
                                                                    </h4><i class="sc-qQlgh dnZKXh pf-5965658d-e013b0ff fa fa-facebook"
                                                                            data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-b0ff10ef fa fa-twitter"
                                                                                                       data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-10eff8ff fa fa-instagram"
                                                                                                                                  data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-f8ffb4e8 fa fa-skype"
                                                                                                                                                             data-pf-type="Icon"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--3">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-93ee28d0"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-e14b93ee">
                                                                <div data-pf-type="Block"
                                                                     class="sc-oTmHo fcqzIr pf-5965658d-fc4ce14b">
                                                                    <div data-pf-type="Block"
                                                                         class="sc-oTmHo fcqzIr pf-5965658d-ec23ca3e">
                                                                        <picture data-pf-type="Image"
                                                                                 class="sc-qYhTA dLAucL pf-5965658d-1a0e0f67 animate-grow animate-grow">
                                                                            <source media="(min-width: 1200px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%203.jpg">
                                                                            <source media="(min-width: 992px) and (max-width: 1199px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%203.jpg">
                                                                            <source media="(min-width: 768px) and (max-width: 991px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%203.jpg">
                                                                            <source media="(max-width: 767px)"
                                                                                    srcset="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%203.jpg">
                                                                            <img src="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/team%20about%20page%203.jpg">
                                                                        </picture>
                                                                    </div>
                                                                    <h3 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-f137294f">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-c77ec1c9">
                                                                            Marry
                                                                            Amelinda
                                                                        </span>
                                                                    </h3>
                                                                    <h4 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-294ffc4c">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-3f16771f">CMO</span>
                                                                    </h4><i class="sc-qQlgh dnZKXh pf-5965658d-771f7c0e fa fa-facebook"
                                                                            data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-7c0e63c4 fa fa-twitter"
                                                                                                       data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-63c44cd6 fa fa-instagram"
                                                                                                                                  data-pf-type="Icon"></i><i class="sc-qQlgh dnZKXh pf-5965658d-4cd6f137 fa fa-skype"
                                                                                                                                                             data-pf-type="Icon"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-container="false" class="sc-pZdvY cBuwhn pf-5965658d-c79f8899"
                                             data-pf-type="Section">
                                            <div class="sc-pRgDJ fzXWJx">
                                                <div class="sc-qQxFs jdLQbH pf-5965658d-a9b4c79f pf-r pf-r-eh"
                                                     data-pf-type="Row"
                                                     style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-7629a9b4"
                                                             data-pf-type="Column">
                                                            <h3 data-pf-type="Heading"
                                                                class="sc-pjTqr kqDkLo pf-5965658d-72eff23f">
                                                                <span data-pf-type="Text"
                                                                      class="sc-qPwwY aevsi pf-5965658d-f1d0d15f">INFORMATION</span>
                                                            </h3>
                                                            <p data-pf-type="Paragraph2"
                                                               class="sc-psedN kzftmY pf-5965658d-f23f7629">
                                                                <span data-pf-type="Text"
                                                                      class="sc-qPwwY aevsi pf-5965658d-ff1d72ef">
                                                                    Some
                                                                    impressive numbers of our store for
                                                                    sharing
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-container="false" class="sc-pZdvY cBuwhn pf-5965658d-ac98a23f"
                                             data-pf-type="Section">
                                            <div class="sc-pRgDJ fzXWJx">
                                                <div class="sc-qQxFs jdLQbH pf-5965658d-a470ac98 pf-r"
                                                     data-pf-type="Row"
                                                     style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--3">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-023102bb"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-648c546f">
                                                                <i class="sc-qQlgh dnZKXh pf-5965658d-dbfb8f19 fa fa-book"
                                                                   data-pf-type="Icon"></i>
                                                                <div data-pf-type="Block"
                                                                     class="sc-oTmHo fcqzIr pf-5965658d-ce21752c">
                                                                    <h3 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-b45bbf29">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-2a5ac4d0">500.000+</span>
                                                                    </h3>
                                                                    <p data-pf-type="Paragraph2"
                                                                       class="sc-psedN kzftmY pf-5965658d-bf29f2fb">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-21fe7c43">
                                                                            Book
                                                                            Genres
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--3">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-02bb47d0"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-546f8cbf">
                                                                <i class="sc-qQlgh dnZKXh pf-5965658d-7c43f990 fa fa-shopping-bag"
                                                                   data-pf-type="Icon"></i>
                                                                <div data-pf-type="Block"
                                                                     class="sc-oTmHo fcqzIr pf-5965658d-752c7a80">
                                                                    <h3 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-f2fb3746">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-feabec1c">500+</span>
                                                                    </h3>
                                                                    <p data-pf-type="Paragraph2"
                                                                       class="sc-psedN kzftmY pf-5965658d-37466dcb">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-fed1421c">
                                                                            Shipments
                                                                            per day
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--3">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-47d098a3"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-8cbff6bb">
                                                                <i class="sc-qQlgh dnZKXh pf-5965658d-421c9c47 fa fa-group"
                                                                   data-pf-type="Icon"></i>
                                                                <div data-pf-type="Block"
                                                                     class="sc-oTmHo fcqzIr pf-5965658d-7a8038fd">
                                                                    <h3 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-6dcb026b">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-b5d9f143">1.000+</span>
                                                                    </h3>
                                                                    <p data-pf-type="Paragraph2"
                                                                       class="sc-psedN kzftmY pf-5965658d-026b808d">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-e4aefb53">Members</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--3">
                                                        <div class="sc-pkfPC iDckyw pf-5965658d-98a3a470"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-oTmHo fcqzIr pf-5965658d-f6bb0231">
                                                                <i class="sc-qQlgh dnZKXh pf-5965658d-fb532abe fa fa-user"
                                                                   data-pf-type="Icon"></i>
                                                                <div data-pf-type="Block"
                                                                     class="sc-oTmHo fcqzIr pf-5965658d-38fd648c">
                                                                    <h3 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-5965658d-808d614a">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-7f161cf4">50+</span>
                                                                    </h3>
                                                                    <p data-pf-type="Paragraph2"
                                                                       class="sc-psedN kzftmY pf-5965658d-614ace21">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-5965658d-bfb7b45b">Staffs</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="application/json"
                                    class="pf_page_settings">{"isBackend":false,"pageflyVersion":"2.12.0","elementData":{},"pageId":"5965658d"}</script>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>