@{
    ViewBag.Title = "Contact";
}
<div id="sunfw_section_section_main_body"
     class="sunfw-section sunfw_section_section_main_body visible-lg visible-md visible-sm visible-xs">
    <div class="container">
        <div id="row_row-1" class="row sunfw-flex-component">
            <div id="column_column-1" class="col-xs-36 col-sm-12 col-md-12 col-lg-12  flex-md-unordered">
                <div class="layout-item sunfw-item-page-content">
                    <div id="system-message-container">
                    </div>

                    <div class="item-page" itemscope itemtype="https://schema.org/Article">
                        <meta itemprop="inLanguage" content="en-GB" />
                        <div class="articleBody" itemprop="articleBody">
                            <style>
                                /* PageFly Element Styles */
                                .kKcmPp {
                                    height: 450px;
                                    position: relative;
                                }

                                .jZxJgp {
                                    word-break: break-word;
                                }

                                    .jZxJgp span {
                                        font-weight: inherit;
                                        text-decoration: inherit;
                                    }

                                    .jZxJgp i {
                                        margin-right: 0.3em;
                                    }

                                .gsdIuB {
                                    font-family: FontAwesome !important;
                                }

                                .mZVAk {
                                    position: relative;
                                }

                                .fzXWJx {
                                    padding: var(--pf-s-lg);
                                }

                                @@media (max-width: 1199px) and (min-width: 992px) {
                                    .fzXWJx {
                                        padding: var(--pf-s-md);
                                    }
                                }

                                @@media (max-width: 991px) and (min-width: 768px) {
                                    .fzXWJx {
                                        padding: var(--pf-s-sm);
                                    }
                                }

                                @@media (max-width: 767px) {
                                    .fzXWJx {
                                        padding: var(--pf-s-xs);
                                    }
                                }

                                .cBuwhn {
                                    position: relative;
                                }

                                .hMYTdE {
                                    margin: 0 calc(-1 * var(--pf-s-lg));
                                }

                                @@media (max-width: 1199px) and (min-width: 992px) {
                                    .hMYTdE {
                                        margin: 0 calc(-1 * var(--pf-s-md));
                                    }
                                }

                                @@media (max-width: 991px) and (min-width: 768px) {
                                    .hMYTdE {
                                        margin: 0 calc(-1 * var(--pf-s-sm));
                                    }
                                }

                                @@media (max-width: 767px) {
                                    .hMYTdE {
                                        margin: 0 calc(-1 * var(--pf-s-xs));
                                    }
                                }

                                .bSwWwA {
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    pointer-events: none;
                                    overflow: hidden;
                                }

                                .gglDmq__parallax {
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    overflow: hidden;
                                    pointer-events: none;
                                }

                                .gglDmq {
                                    padding: 15px 0px;
                                    position: relative;
                                }

                                .jOExFg {
                                    position: relative;
                                    list-style: inherit;
                                    margin: 0 0 var(--line-spacing);
                                }

                                    .jOExFg:last-child {
                                        margin: 0px;
                                    }

                                    .jOExFg::before {
                                        content: "";
                                        display: inline-block;
                                        width: var(--text-indent);
                                    }

                                    .jOExFg > i {
                                        padding: 5px;
                                        margin-right: 5px;
                                    }

                                    .jOExFg > span {
                                        display: inline;
                                    }

                                .iqDVFC {
                                    margin: 0px;
                                    padding: 10px;
                                }

                                .kVASKi {
                                    display: inline-block;
                                }

                                    .kVASKi[contenteditable="true"] {
                                        user-select: text;
                                    }

                                .kVASKi {
                                    vertical-align: baseline;
                                    word-break: break-word;
                                }

                                    .kVASKi:focus {
                                        outline: none;
                                    }

                                    .kVASKi::after {
                                        display: inline;
                                    }

                                /* PageFly Styles */

                                @@media all {
                                    .__pf .pf-153eeb4b-3b008d0c {
                                        color: rgb(255, 255, 255);
                                        font-size: 36px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        text-align: center;
                                        margin-top: 0px;
                                    }

                                    .__pf .pf-153eeb4b-8c924596 {
                                        background-image: url("https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/contact%20us.jpg");
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        background-position: 50% 50%;
                                        padding: 140px 0px;
                                    }

                                    .__pf .pf-153eeb4b-131df62d {
                                        font-size: 20px;
                                        color: rgb(38, 63, 68);
                                        width: 30px;
                                    }

                                    .__pf .pf-153eeb4b-03782a78 {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 500;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 20px;
                                        display: flex;
                                        align-items: start;
                                    }

                                    .__pf .pf-153eeb4b-c2f4a417 {
                                        font-size: 20px;
                                        color: rgb(38, 63, 68);
                                        width: 30px;
                                    }

                                    .__pf .pf-153eeb4b-2a78db37 {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 500;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 20px;
                                        display: flex;
                                        align-items: start;
                                    }

                                    .__pf .pf-153eeb4b-837c4e2f {
                                        font-size: 20px;
                                        color: rgb(38, 63, 68);
                                        width: 30px;
                                    }

                                    .__pf .pf-153eeb4b-db37c491 {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 500;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        margin-bottom: 20px;
                                        display: flex;
                                        align-items: start;
                                    }

                                    .__pf .pf-153eeb4b-9fbdec61 {
                                        font-size: 20px;
                                        color: rgb(38, 63, 68);
                                        width: 30px;
                                    }

                                    .__pf .pf-153eeb4b-c491e46d {
                                        font-family: Montserrat;
                                        font-size: 14px;
                                        font-weight: 500;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgb(38, 63, 68);
                                        display: flex;
                                        align-items: start;
                                    }

                                    .__pf .pf-153eeb4b-e46d8193 {
                                        list-style-position: inside;
                                        list-style-type: none;
                                        padding-left: 0px;
                                        padding-bottom: 0px;
                                    }

                                    .__pf .pf-153eeb4b-9afb2e4f {
                                        margin-top: 50px;
                                        margin-right: -15px;
                                    }

                                    .__pf .pf-153eeb4b-466d24da {
                                        height: 450px;
                                    }

                                    .__pf .pf-153eeb4b-3be27d77 {
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: -20px;
                                    }

                                    .__pf .pf-153eeb4b-7d772cf4 {
                                        padding-top: 0px;
                                        height: 450px;
                                    }
                                }

                                @@media only screen and (max-width: 767px) {
                                    .__pf .pf-153eeb4b-8c924596 {
                                        background-image: url("https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/contact%20us.jpg");
                                    }
                                }

                                @@media only screen and (min-width: 992px) and (max-width: 1199px) {
                                    .__pf .pf-153eeb4b-8c924596 {
                                        background-image: url("https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/contact%20us.jpg");
                                    }
                                }

                                @@media only screen and (min-width: 768px) and (max-width: 991px) {
                                    .__pf .pf-153eeb4b-8c924596 {
                                        background-image: url("https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/demo-content/contact%20us.jpg");
                                    }
                                }
                            </style>
                            <div class="__pf" id="__pf">
                                <div data-pf-type="Body" class="sc-pIJmg ehCwJf pf-153eeb4b-f7abc019">
                                    <div data-pf-type="Layout" class="pf-153eeb4b-abc019c5">
                                        <div data-container="true" class="sc-pBxWu gglDmq pf-153eeb4b-8c924596"
                                             data-pf-type="Section">
                                            <div class="sc-qQKeD bSwWwA"
                                                 style="background-color: rgba(51, 51, 51, 0.8);"></div>
                                            <div class="sc-qYGWS jnzTeZ" style="max-width: 1170px;">
                                                <div class="sc-pbvYO hMYTdE pf-153eeb4b-b9e98c92 pf-r pf-r-eh"
                                                     data-pf-type="Row"
                                                     style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                    <div class="sc-pRgDJ fzXWJx pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12">
                                                        <div class="sc-pZdvY cBuwhn pf-153eeb4b-35d8b9e9"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-pJipy mZVAk pf-153eeb4b-ec7635d8">
                                                                <h3 data-pf-type="Heading"
                                                                    class="sc-qapxP jZxJgp pf-153eeb4b-3b008d0c">
                                                                    <span data-pf-type="Text"
                                                                          class="sc-oUAoT kVASKi pf-153eeb4b-4c983b00">Contact</span>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-container="false" class="sc-pBxWu gglDmq pf-153eeb4b-2e4f1fd5"
                                             data-pf-type="Section">
                                            <div class="sc-qYGWS jnzTeZ">
                                                <div class="sc-pbvYO hMYTdE pf-153eeb4b-9afb2e4f pf-r"
                                                     data-pf-type="Row"
                                                     style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                    <div class="sc-pRgDJ fzXWJx pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--5">
                                                        <div class="sc-pZdvY cBuwhn pf-153eeb4b-eb1fcbfb"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="Block"
                                                                 class="sc-pJipy mZVAk pf-153eeb4b-1fd5131d">
                                                                <ul data-pf-type="List"
                                                                    class="sc-pRtcU iqDVFC pf-153eeb4b-e46d8193"
                                                                    style="--text-indent:0; --line-spacing:10px;">
                                                                    <li data-pf-type="List.Item"
                                                                        class="sc-pJVnX jOExFg pf-153eeb4b-03782a78">
                                                                        <i class="sc-pbJYR gsdIuB pf-153eeb4b-131df62d fa fa-map-marker sunfw-tx-sc"
                                                                           data-pf-type="Icon"></i><span data-pf-type="Text"
                                                                                                         class="sc-oUAoT kVASKi pf-153eeb4b-f62dc2f4">
                                                                            221B
                                                                            Baker Street, London NW1 <br> 6XE,
                                                                            England
                                                                        </span>
                                                                    </li>
                                                                    <li data-pf-type="List.Item"
                                                                        class="sc-pJVnX jOExFg pf-153eeb4b-2a78db37">
                                                                        <i class="sc-pbJYR gsdIuB pf-153eeb4b-c2f4a417 fa fa-volume-control-phone"
                                                                           data-pf-type="Icon"></i><span data-pf-type="Text"
                                                                                                         class="sc-oUAoT kVASKi pf-153eeb4b-a417837c">
                                                                            +(0)
                                                                            123 456 789&nbsp;<br>+(0) 789 456
                                                                            123
                                                                        </span>
                                                                    </li>
                                                                    <li data-pf-type="List.Item"
                                                                        class="sc-pJVnX jOExFg pf-153eeb4b-db37c491">
                                                                        <i class="sc-pbJYR gsdIuB pf-153eeb4b-837c4e2f fa fa-clock-o"
                                                                           data-pf-type="Icon"></i><span data-pf-type="Text"
                                                                                                         class="sc-oUAoT kVASKi pf-153eeb4b-4e2f9fbd">
                                                                            Mon
                                                                            - Fri: 9:00 am - 9:00 pm <br>Sat -
                                                                            Sun: 9:00 am - 6:00 pm
                                                                        </span>
                                                                    </li>
                                                                    <li data-pf-type="List.Item"
                                                                        class="sc-pJVnX jOExFg pf-153eeb4b-c491e46d">
                                                                        <i class="sc-pbJYR gsdIuB pf-153eeb4b-9fbdec61 fa fa-envelope"
                                                                           data-pf-type="Icon"></i><span data-pf-type="Text"
                                                                                                         class="sc-oUAoT kVASKi pf-153eeb4b-ec610378">support@jsnbookstore.com<br>support@yourcompany.com</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sc-pRgDJ fzXWJx pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--7">
                                                        <div class="sc-pZdvY cBuwhn pf-153eeb4b-cbfb9afb"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="JSNUniForm"
                                                                 class="sc-pcZmk fLYRsF pf-153eeb4b-eda4ee22">
                                                                <div class="jsn-uniform jsn-master"
                                                                     data-form-name="0c9d46e67a504c9dbb0a99ff8fe25eb0"
                                                                     id="jsn_form_1">
                                                                    <div class="jsn-bootstrap">
                                                                        <form data-current-date='June 22, 2021, 17:15'
                                                                              name='form_0c9d46e67a504c9dbb0a99ff8fe25eb0'
                                                                              data-ajaxupload='0'
                                                                              id='form_0c9d46e67a504c9dbb0a99ff8fe25eb0'
                                                                              action="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/index.php?option=com_uniform&amp;view=form&amp;task=form.save&amp;form_id=1"
                                                                              method="post"
                                                                              class="form-validate default "
                                                                              enctype="multipart/form-data"
                                                                              autocomplete="off">
                                                                            <span class="hide jsn-language"
                                                                                  style="display:none;"
                                                                                  data-value='{"JSN_UNIFORM_CHARACTERS":"Characters","JSN_UNIFORM_WORDS":"Words","JSN_UNIFORM_CONFIRM_FIELD_PASSWORD_MIN_MAX_CHARACTER":"The password must contain minimum %mi% and maximum %mx% character(s)","JSN_UNIFORM_CONFIRM_FIELD_EMAIL_CONFIRM":"Both email addresses must be the same.","JSN_UNIFORM_CONFIRM_FIELD_MIN_NUMBER":"The number cannot be less than","JSN_UNIFORM_CONFIRM_FIELD_MAX_NUMBER":"The number cannot be greater than","JSN_UNIFORM_DATE_HOUR_TEXT":"Hour","JSN_UNIFORM_DATE_MINUTE_TEXT":"Minute","JSN_UNIFORM_DATE_CLOSE_TEXT":"Close","JSN_UNIFORM_DATE_PREV_TEXT":"Prev","JSN_UNIFORM_DATE_NEXT_TEXT":"Next","JSN_UNIFORM_DATE_CURRENT_TEXT":"Today","JSN_UNIFORM_DATE_MONTH_JANUARY":"January","JSN_UNIFORM_DATE_MONTH_FEBRUARY":"February","JSN_UNIFORM_DATE_MONTH_MARCH":"March","JSN_UNIFORM_DATE_MONTH_APRIL":"April","JSN_UNIFORM_DATE_MONTH_MAY":"May","JSN_UNIFORM_DATE_MONTH_JUNE":"June","JSN_UNIFORM_DATE_MONTH_JULY":"July","JSN_UNIFORM_DATE_MONTH_AUGUST":"August","JSN_UNIFORM_DATE_MONTH_SEPTEMBER":"September","JSN_UNIFORM_DATE_MONTH_OCTOBER":"October","JSN_UNIFORM_DATE_MONTH_NOVEMBER":"November","JSN_UNIFORM_DATE_MONTH_DECEMBER":"December","JSN_UNIFORM_DATE_MONTH_JANUARY_SHORT":"Jan","JSN_UNIFORM_DATE_MONTH_FEBRUARY_SHORT":"Feb","JSN_UNIFORM_DATE_MONTH_MARCH_SHORT":"Mar","JSN_UNIFORM_DATE_MONTH_APRIL_SHORT":"Apr","JSN_UNIFORM_DATE_MONTH_MAY_SHORT":"May","JSN_UNIFORM_DATE_MONTH_JUNE_SHORT":"Jun","JSN_UNIFORM_DATE_MONTH_JULY_SHORT":"Jul","JSN_UNIFORM_DATE_MONTH_AUGUST_SHORT":"Aug","JSN_UNIFORM_DATE_MONTH_SEPTEMBER_SHORT":"Sep","JSN_UNIFORM_DATE_MONTH_OCTOBER_SHORT":"Oct","JSN_UNIFORM_DATE_MONTH_NOVEMBER_SHORT":"Nov","JSN_UNIFORM_DATE_MONTH_DECEMBER_SHORT":"Dec","JSN_UNIFORM_DATE_DAY_SUNDAY":"Sunday","JSN_UNIFORM_DATE_DAY_MONDAY":"Monday","JSN_UNIFORM_DATE_DAY_TUESDAY":"Tuesday","JSN_UNIFORM_DATE_DAY_WEDNESDAY":"Wednesday","JSN_UNIFORM_DATE_DAY_THURSDAY":"Thursday","JSN_UNIFORM_DATE_DAY_FRIDAY":"Friday","JSN_UNIFORM_DATE_DAY_SATURDAY":"Saturday","JSN_UNIFORM_DATE_DAY_SUNDAY_SHORT":"Sun","JSN_UNIFORM_DATE_DAY_MONDAY_SHORT":"Mon","JSN_UNIFORM_DATE_DAY_TUESDAY_SHORT":"Tue","JSN_UNIFORM_DATE_DAY_WEDNESDAY_SHORT":"Wed","JSN_UNIFORM_DATE_DAY_THURSDAY_SHORT":"Thu","JSN_UNIFORM_DATE_DAY_FRIDAY_SHORT":"Fri","JSN_UNIFORM_DATE_DAY_SATURDAY_SHORT":"Sat","JSN_UNIFORM_DATE_DAY_SUNDAY_MIN":"Su","JSN_UNIFORM_DATE_DAY_MONDAY_MIN":"Mo","JSN_UNIFORM_DATE_DAY_TUESDAY_MIN":"Tu","JSN_UNIFORM_DATE_DAY_WEDNESDAY_MIN":"We","JSN_UNIFORM_DATE_DAY_THURSDAY_MIN":"Th","JSN_UNIFORM_DATE_DAY_FRIDAY_MIN":"Fr","JSN_UNIFORM_DATE_DAY_SATURDAY_MIN":"Sa","JSN_UNIFORM_DATE_DAY_WEEK_HEADER":"Wk","JSN_UNIFORM_CONFIRM_FIELD_MAX_LENGTH":"The information cannot contain more than","JSN_UNIFORM_CONFIRM_FIELD_MIN_LENGTH":"The information cannot contain less than","JSN_UNIFORM_CAPTCHA_PUBLICKEY":"JSN_UNIFORM_CAPTCHA_PUBLICKEY","JSN_UNIFORM_BUTTON_BACK":"Back","JSN_UNIFORM_BUTTON_NEXT":"Next","JSN_UNIFORM_BUTTON_RESET":"Reset","JSN_UNIFORM_BUTTON_SUBMIT":"Submit","JSN_UNIFORM_CONFIRM_FIELD_CANNOT_EMPTY":"This field can not be empty, please enter required information.","JSN_UNIFORM_CONFIRM_FIELD_INVALID":"The information is invalid, please correct.","JSN_UNIFORM_WORDS_LEFT":"word(s) left","JSN_UNIFORM_CHARACTERS_LEFT":"character(s) left","JSN_UNIFORM_VALIDATION_FAILS":"Please correct the data of this field. An example of valid data is: %s","JSN_UNIFORM_EQUAL_TO_OR_GREATER_THAN_TODAY_ALERT":"Please select a date that is equal to or greater than today","JSN_UNIFORM_MAX_LENGTH_ALERT":"The length of inputted value is greater than the maximum length of %d characters allowed for this field.","JSN_UNIFORM_WRONG_NUMBER_SLIDER_VALUE":"Value must be a multiple of %s."}'></span><span class="hide jsn-base-url"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          style="display:none;"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          data-value="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore"></span>
                                                                            <div id="page-loading"
                                                                                 class="jsn-bgloading">
                                                                                <i class="jsn-icon32 jsn-icon-loading"></i>
                                                                            </div>
                                                                            <div class="jsn-row-container jsn-style-light vertical">
                                                                                <div class="message-uniform">
                                                                                </div>
                                                                                <div data-value="1"
                                                                                     class="jsn-form-content hide">
                                                                                    <div class='jsn-row-container row-fluid jsn-uf-row-container'>
                                                                                        <div class="jsn-container-left_2 span6">
                                                                                            <div class="control-group  single_line_text_55277591115_15_48 "
                                                                                                 data-id="7-jsn-uf-form-field">
                                                                                                <label class="control-label">Name</label>
                                                                                                <div class="controls ">
                                                                                                    <input class=" jsn-input-xlarge-fluid"
                                                                                                           id="7-jsn-uf-form-field"
                                                                                                           name="7"
                                                                                                           type="text"
                                                                                                           value=""
                                                                                                           placeholder="" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="jsn-container-center_2 span6">
                                                                                            <div class="control-group  email_61438018415_48_28 "
                                                                                                 data-id="8-jsn-uf-form-field">
                                                                                                <label class="control-label">Mail</label>
                                                                                                <div class="controls">
                                                                                                    <input class="email  jsn-input-xlarge-fluid"
                                                                                                           id="8-jsn-uf-form-field"
                                                                                                           name="8"
                                                                                                           type="text"
                                                                                                           value=""
                                                                                                           placeholder="" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class='jsn-row-container row-fluid jsn-uf-row-container'>
                                                                                        <div class="jsn-container-left span12">
                                                                                            <div class="control-group  phone_35372677213_8_45 "
                                                                                                 data-id="5-jsn-uf-form-field">
                                                                                                <label class="control-label">Phone</label>
                                                                                                <div class="controls ">
                                                                                                    <input class="phone jsn-input-medium-fluid"
                                                                                                           id="5-jsn-uf-form-field"
                                                                                                           name="phone[5][default]"
                                                                                                           type="text"
                                                                                                           value=""
                                                                                                           placeholder="" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="control-group medium-input paragraph_text_50212367215_37_7 "
                                                                                                 data-id="4-jsn-uf-form-field">
                                                                                                <label class="control-label">Message</label>
                                                                                                <div class="controls ">
                                                                                                    <textarea rows="11"
                                                                                                              class="  jsn-input-xlarge-fluid"
                                                                                                              id="4-jsn-uf-form-field"
                                                                                                              name="4"
                                                                                                              placeholder=""></textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-actions">
                                                                                    <div class="btn-toolbar pull-left">
                                                                                        <button type="button"
                                                                                                class="btn prev  hide">
                                                                                            PREV
                                                                                        </button>
                                                                                        <button type="button"
                                                                                                class="btn  btn-primary next  hide">
                                                                                            NEXT
                                                                                        </button>
                                                                                        <button type="reset"
                                                                                                class="btn reset "
                                                                                                style="display:none">
                                                                                            RESET
                                                                                        </button>
                                                                                        <button type="submit"
                                                                                                class="btn btn-primary jsn-form-submit ">
                                                                                            Send
                                                                                            Message
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="jsn-text-center">
                                                                                    <a href="http://www.joomlashine.com/joomla-extensions/jsn-uniform.html"
                                                                                       target="_blank">
                                                                                        Joomla
                                                                                        forms builder
                                                                                    </a> by
                                                                                    JoomlaShine
                                                                                </div><input type="hidden"
                                                                                             name="form_name"
                                                                                             value="0c9d46e67a504c9dbb0a99ff8fe25eb0" />
                                                                            </div><input type="hidden" name="task" value="form.save" />
                                                                            <input type="hidden" name="option" value="com_uniform" />
                                                                            <input type="hidden" name="form_id" value="1" />
                                                                            <input type="hidden" name="ajax_upload_file" name="ajax_upload_file" value="0" />
                                                                            <input type="hidden" name="use_payment_gateway" value="0" />
                                                                            <input type="hidden" name="list_choosen_field" value="" />
                                                                            <input type="hidden" name="form_post_action" value="4" />
                                                                            <input type="hidden" name="form_post_action_data" value='&lt;p&gt;Thank You&nbsp;for Contacking Us!&lt;/p&gt;&lt;div id=&quot;eJOY__extension_root&quot; style=&quot;all: unset;&quot;&gt;&nbsp;&lt;/div&gt;' />
                                                                            <input type="hidden" name="form_post_session_lifetime" value="300000000" />
                                                                            <input type="hidden" name="form_post_path_root" value="/joomla-templates/jsn_bookstore/pro/bookstore/index.php" />
                                                                            <input type="hidden" name="f917dde666ef6c82a83f32317a0bc3bd" value="1" />
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-container="false" class="sc-pBxWu gglDmq pf-153eeb4b-7d772cf4"
                                             data-pf-type="Section">
                                            <div class="sc-qYGWS jnzTeZ">
                                                <div class="sc-pbvYO hMYTdE pf-153eeb4b-3be27d77 pf-r pf-r-eh"
                                                     data-pf-type="Row"
                                                     style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                    <div class="sc-pRgDJ fzXWJx pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12">
                                                        <div class="sc-pZdvY cBuwhn pf-153eeb4b-24da3be2"
                                                             data-pf-type="Column">
                                                            <div data-pf-type="GMap"
                                                                 class="sc-pRSgm kKcmPp pf-153eeb4b-466d24da">
                                                                <iframe scrolling="no" title="google_map"
                                                                        src="https://maps.google.com/maps?z=14&amp;t=m&amp;q=VietNam&amp;ie=UTF8&amp;&amp;output=embed"
                                                                        style="height: 100%; width: 100%; border: none; position: absolute; left: 0px;"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="application/json"
                                    class="pf_page_settings">{"isBackend":false,"pageflyVersion":"2.9.0","elementData":{},"pageId":"153eeb4b"}</script>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>