<div id="j2store-price-filter-container" class="j2store-product-filters price-filters">
    <h4 class="product-filter-heading">Lọc theo Giá</h4>
    <div id="j2store-slider-range" style="width:100%;" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
    <br>
    <!-- Price Filters Ends Here -->
    <div id="j2store-slider-range-box" class="price-input-box">
        <input class="btn btn-success" type="submit" id="filterProductsBtn" value="Lọc">
        <div class="pull-right">
            <span id="min_price" class="hide">0</span>
            <span id="max_price" class="hide">500000</span>
            $<span id="min_price_display">0.00</span> 						To						$<span id="max_price_display">500000</span>						<input type="hidden" name="pricefrom" id="min_price_input" value="0">						<input type="hidden" name="priceto" id="max_price_input" value="500000">
        </div>
    </div>
</div>
