@model IEnumerable<WebBanSach.Models.CHUDE>

<div class="j2store-product-filters category-filters">
    <h4 class="product-filter-heading">Lọc theo Chủ Đề</h4>
    <a href="javascript:void(0);" id="cat-filter-icon-minus" onclick="getCategoryFilterToggle(this);"><i class="icon-minus"></i></a>
    <a href="javascript:void(0);" id="cat-filter-icon-plus" onclick="getCategoryFilterToggle(this);" style="display:none;"><i class="icon-plus"></i></a>
    <div id="j2store_category" style="display:block;">
        <ul id="j2store_categories_mod" class="nav nav-list nav-stacked j2store-category-list">
            <li class="active j2product-categories  level1">
                <a href="javascript:void(0);" class="j2store-item-rootcategory" data-key="filter_catid" data-value="" onclick="document.getElementById('j2store-product-loading').style.display='block';document.getElementById('filter_catid').value='';document.getElementById('sort_filter_catid').value=''; document.getElementById('productsideFilters').submit();">
                    Tất cả
                </a>
            </li>
            @foreach (var item in Model)
            {
                <li class=" j2product-categories  level1">
                    <a href="javascript:void(0);" class="j2store-item-category" data-key="filter_catid" data-value="98">
                        <a href="@Url.Action("SChuDe","ChuDe",new { id=item.MaCD})">@item.TenChuDe</a>
                    </a>
                </li>
            }
        </ul>
        
    </div>

</div>
