@model IEnumerable<WebBanSach.Models.CHUDE>
<li class="item-568 parent dropdown-submenu">
    <span class="nav-header ">
        <span class="heading-data-title">Chủ Đề</span><span class="caret"></span>
    </span>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li class="item-577 parent dropdown-submenu">
            
                    <span class="nav-header ">
                        <span class="heading-data-title">
                            <a href="@Url.Action("SChuDe","ChuDe",new { id=item.MaCD})">@item.TenChuDe</a>
                        </span>
                    </span>
                    
            </li>
        }
    </ul>
</li>